version: '2.0'

services:
  workstation:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - username=${USERNAME}
        - password=${PASSWORD}
        - u_id=${USER_ID}
        - g_id=${GROUP_ID}
        - host_docker_group_id=${HOST_DOCKER_GROUP_ID}
    # entrypoint: /usr/bin/zsh
    command: tail -f /dev/null
    user: ${USERNAME}
    volumes_from:
      - golang1.11
      - nodejs10.15.1
    volumes:
      - ${HOME_PATH}:/home/${USERNAME}
      # - /usr/local/bin
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
      - ${SRC_PATH}:${SRC_PATH}
    hostname: docker-workstation
    ports:
      - 60001-60011:60001-60011/udp
    environment:
      - GOPATH=/mnt/src/go


  # Development languages
  # volumes for language mounts are created below

  golang1.11:
    image: golang:1.11
    volumes:
      - /usr/local/go
      - /src/go/bin
      - /src/go/pkg

  nodejs10.15.1:
    image: node:10.15.1
    volumes:
      - /usr/src/node_modules
      - /usr/local/bin
      - /usr/local/lib/node_modules
      - /opt

